.add {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.02);
  &_headerPic {
    background-image: url('$images/header-background.png');
    height: 33vh;
    background-color: #7596c1;
    background-size: cover;
    padding: 10px;
  }
  &_headerTop {
    line-height: 28px;
    :first-child {
      float: left;
    }
    :nth-child(2) {
      display: block;
      float: right;
    }
  }
}
.ant-input {
  height: 40vh !important;
  background-color: transparent;
}
